@model RockStar

<h2>Cadastro de Rock Star</h2>
<hr>
<form method="POST">@*Em vez de enviar por get(aparece o que pesquise na url), ja no post isso não aparece *@
    <div class="form-floating mb-3">
        <input class="form-control" asp-for="@Model.Nome" placeholder="J.S Bach"> @* name = nome
            para indicar o atributo do objeto *@
        <label asp-for="@Model.Nome"></label>
        <span asp-validation-for="@Model.Nome"></span>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" asp-for="@Model.Email" placeholder="bach@eisenah.com">
        <label asp-for="@Model.Email"> </label>
        <span asp-validation-for="@Model.Email"></span>
    </div>
        <div class="form-floating mb-3">
        <input type="date" class="form-control" asp-for="@Model.DataNascimento" placeholder="1750">
        <label asp-for="@Model.DataNascimento"> </label>
        <span asp-validation-for="@Model.DataNascimento"></span>
    </div>
        <div class="form-floating mb-3">
        <input class="form-control" asp-for="@Model.PaisOrigem" placeholder="Alemanha">
        <label asp-for="@Model.PaisOrigem"> </label>
        <span asp-validation-for="@Model.PaisOrigem"></span>
    </div>
        <div class="form-floating mb-3">
        <textarea class="form-control" asp-for="@Model.Descricao" placeholder="Bach" style="height: 120px;">
        </textarea>
        <label asp-for="@Model.Descricao"> </label>
        <span asp-validation-for="@Model.Descricao"></span>
    </div>
    <p>
        <a asp-controller="RockStar" asp-action="Index" class="btn btn-secondary">Cancelar</a>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </p>
</form>